In [1]:
import numpy as np
import pandas as pd

In [20]:
sal= pd.DataFrame(pd.read_csv("C:\\Users\\Laptop\\Downloads\\archive\\Salaries.csv"))

C:\Users\Laptop\AppData\Local\Temp\ipykernel_11524\3853044051.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  sal= pd.DataFrame(pd.read_csv("C:\\Users\\Laptop\\Downloads\\archive\\Salaries.csv"))

In [21]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [22]:
sal.head(2)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN

In [11]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [30]:
#find job title of JOSEPH DRISCOLL
sal[sal["EmployeeName"]=="JOSEPH DRISCOLL"]["JobTitle"]

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [103]:
sal["BasePay"]

0            167411.18
1            155966.02
2            212739.13
3              77916.0
4             134401.6
              ...
148649            0.00
148650    Not Provided
148651    Not Provided
148652    Not Provided
148653            0.00
Name: BasePay, Length: 148654, dtype: object

In [111]:
#sal[sal["OvertimePay"].idxmax()]

In [48]:
#find JOSEPH DRISCOLL total pay
sal[sal["EmployeeName"]=="Joseph Driscoll"]["TotalPayBenefits"]

36198    331834.79
Name: TotalPayBenefits, dtype: float64

In [49]:
#find who pay higest 
sal["TotalPay"].max()

567595.43

In [53]:
#find this employeename who pay lowest
sal[sal["TotalPay"]==sal["TotalPay"].min()]["EmployeeName"]

148653    Joe Lopez
Name: EmployeeName, dtype: object

In [104]:
#find this man information who pay highest
sal.iloc[sal["TotalPay"].idxmax()]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                  167411.18
OvertimePay                                                    0.0
OtherPay                                                 400184.25
Benefits                                                       NaN
TotalPay                                                 567595.43
TotalPayBenefits                                         567595.43
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
title_len                                                       46
Name: 0, dtype: object

In [108]:
sal.iloc[sal["TotalPay"].idxmin()]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                   0.00
OvertimePay                               0.00
OtherPay                               -618.13
Benefits                                  0.00
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                      PT
title_len                                   26
Name: 148653, dtype: object

In [60]:
#what is the average of Totalpay of all employee per year
sal.groupby("Year").mean()["TotalPay"]

Year
2011    71744.103871
2012    74113.262265
2013    77611.443142
2014    75463.918140
Name: TotalPay, dtype: float64

In [66]:
#find out top 5 most common jobs
sal["JobTitle"].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [67]:
sal["JobTitle"].max()

'ZOO CURATOR'

In [71]:
#how many job titles were represented by only one person in 2013 only one occurence in 2013
sum(sal[sal["Year"]==2013]['JobTitle'].value_counts()==1)

202

In [93]:
#how many people have the word Chief in their job title
def chief_string(title):
    if "chief" in title.lower().split():
        return True
    else:
        return False

In [90]:
chief_string("Chief fjf")

True

In [94]:
sum(sal["JobTitle"].apply(lambda x: chief_string(x)))

477

In [95]:
#is there a correlation between length pf the job title string ans salary
sal["title_len"]= sal["JobTitle"].apply(len)

In [100]:
 sal[["TotalPayBenefits", "title_len"]].corr()

                  TotalPayBenefits  title_len
TotalPayBenefits          1.000000  -0.036878
title_len                -0.036878   1.000000